<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops! Error</title>
    
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/config.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="homepage">
    <!-- Nav -->
    <nav id="nav" class="container" style="position:relative;">
        <div class="row navigation-wrapper">
            <div class="navigation-logo 3u">
                <a href="/"><img src="http://media.slattoforvaltning.se/2015/08/slatto-logo.png"></a>
            </div>
        </div>
    </nav>
    <!-- /Nav -->

    <div class="main-container">
        @RenderBody()
    </div>
</body>
</html>
