@inherits UmbracoTemplatePage

<!-- About -->
<section class="about">
    <!--<h2 class="major"><span>@Umbraco.Field("aboutTitle", recursive: true)</span></h2>
    <p>@Umbraco.Field("aboutText", recursive: true)</p>-->
	<h2>WE WANT TO CONTRIBUTE TO SOCIETY</h2>
	<p class="text-center">In order to contribute to sustainable development has Slättö with WSP implemented a sustainability plan with regard to our work and all investments. Systematic work with sustainability management in construction projects provide a basis for early decisions and take action with regard to economic, ecological and social impacts at all stages of the building's life.</p>
</section>
<!-- /About -->