@using MSD.SlattoFS.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "BMLayout.cshtml";
}
<div class="tp-parallax-wrap about-banner" style="position: relative; visibility: visible; left: -366px; top: -2px; z-index: 5;"><div class="tp-loop-wrap" style="position:relative;"><div class="tp-mask-wrap" style="position: relative; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-4-layer-2" data-x="['left','left','left','left']" data-hoffset="['-698','-698','-698','-698']" data-y="['top','top','top','top']" data-voffset="['-2','-2','-2','-2']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:2;e:Power2.easeInOut;" data-transform_out="opacity:0;s:2;" data-start="0" data-responsive_offset="on" style="z-index: 5; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="~/images/om-oss-slider1.jpg" alt="" width="2560" height="450" data-ww="['2560px','2560px','2560px','2560px']" data-hh="['455px','455px','455px','455px']" data-no-retina="" style="width: 2560px; height: 455px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;"> </div></div></div></div>
<div class="tp-parallax-wrap about-text" style="position: absolute; visibility: visible; left: 871px; top: 369px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption mediumlarge_light_white   tp-resizeme" id="slide-4-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['164','164','164','164']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="s:2;e:Power2.easeInOut;" data-transform_out="s:2;" data-start="0" data-splitin="none" data-splitout="none" data-basealign="slide" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgb(255, 255, 255); padding: 0px; border-color: rgb(255, 214, 88); visibility: inherit; transition: none; line-height: 40px; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><font style="transition: none; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px;"><font style="transition: none; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px;">ABOUT US </font></font></div></div></div></div>

<div id="main" class="container">    
    <div class="row">
        @Html.Breadcrumbs(Model.Content)
        <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <p style="text-align: center;"><strong><font><font>Slättö Management long-term owners and developers of newly constructed rental housing in growth areas.</font></font></strong></p>

                </div>
            </div>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3><font><font class="">our ownership</font></font></h3>
                                <p><font><font>Slättö Management is a long-term owner and developer of the newly constructed rental housing in growth areas.</font></font></p>
                                <p><font><font>Slättö own year-end 15/16 newly constructed rental units and projects, upon completion amounts to a total value of more than SEK 6,000 million. </font><font>The portfolio encloses nearly 3,100 apartments totaling more than 180,000 sqm of residential area. </font><font>More than 20,000 square meters is leased under management, the remainder are under development with completion in 2016, 2017 and 2018. Slättö has established presence in the municipalities of Karlstad, Knivsta, Linköping, Norrköping, Nykvarn, Stockholm, Umeå, Upplands-Bro, Västerås and Örebro.</font></font></p>
                                <div></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey"><img width="100%" height="100%" src="~/images/om-oss-1.jpg" class="vc_single_image-img attachment-full" alt="about-us-1" srcset="~/images/om-oss-1.jpg 645w, ~/images/om-oss-1-300x157.jpg 300w" sizes="(max-width: 645px) 100vw, 645px"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey"><img width="100%" height="100%" src="~/images/om-oss-2.jpg" class="vc_single_image-img attachment-full" alt="about-us-2" srcset="~/images/om-oss-2.jpg 850w, ~/images/om-oss-2-300x144.jpg 300w" sizes="(max-width: 850px) 100vw, 850px"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3><font><font>For a sustainable future</font></font></h3>
                                <p class="p1"><font><font>In order to contribute to sustainable development has Slättö with advisors created a sustainability plan that govern transactions as well as investment in all projects. </font><font>Systematic work with sustainability management in real estate provides a basis for early decisions and take action with regard to economic, ecological and social impacts at all stages of the building's life. </font><font>Sustainability management in the project means eg </font><font>the overall goal early formulated and detailed targets progressively fleshed out in specific measurable requirements and indicators. </font><font>The principles and activities to be followed is outlined and the work is monitored and documented.</font></font></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>Hur vi skapar värde</h3>
                                <p>Våra investeringarna sker i huvudsak genom förvärv av nyproducerade hyresrättsfastigheter där förvärvsprocessen ofta inleds innan byggstart, så kallad forward founding. Detta skapar möjlighet att forma slutprodukten utifrån Slättös hållbarhetsprogram och adderar ett värde till utvecklaren som redan i ett tidigt skede hittar projektets långsiktiga ägare. Byggrisken i investeringarna minimeras genom omfattande garantikataloger från säljaren och därtill tecknande av totalentreprenader med finansiellt starka leverantörer. Alla fastigheter förvaltas genom avtal med lokala aktörer med stark förankring på orten.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="100%" height="100%" src="~/images/om-oss-3.jpg" class="vc_single_image-img attachment-full" alt="om-oss-3" srcset="~/images/om-oss-3.jpg 1245w, ~/images/om-oss-3-300x142.jpg 300w, ~/images/om-oss-3-1024x484.jpg 1024w" sizes="(max-width: 1245px) 100vw, 1245px"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="3u">
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="222" height="342" src="~/images/SGBC_sRGB.jpg" class="vc_single_image-img attachment-full" alt="ApoRGB" srcset="~/images/SGBC_sRGB.jpg 222w, ~/images/SGBC_sRGB-195x300.jpg 195w" sizes="(max-width: 222px) 100vw, 222px"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="9u">
            <div class="wpb_column vc_column_container vc_col-sm-9">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>Sweden Green Building</h3>
                                <p class="p1"><span class="s1">Slättö Förvaltning är medlem i Sweden Green Building Council, en ideell förening som ägs av medlemmarna och är öppen för alla företag och organisationer inom den svenska bygg- och fastighetssektorn. Föreningen är Sveriges snabbast växande organisation för grönt byggande och verkar för att utveckla och påverka miljö- och hållbarhetsarbetet i branschen. Målet är att nå ett tillstånd där samtliga berörda parter premierar hållbara byggnader.</span></p>
                                <p class="p1">Vad gäller miljöklassning skall Slättös bostadsprojekt&nbsp;klara certifiering enligt Miljöbyggnad Silver eller Svanen. Miljöbyggnad Silver utfärdas av Sweden Green Building Council och är den näst bästa nivå som kan uppnås enligt kraven för&nbsp;certifiering.</p>
                                <p>Följ länken nedan för att ta&nbsp;del av&nbsp;Slättös Hållbarhetsprogram i sin helhet.</p>

                            </div>
                        </div>
                        <a class="ubtn-link ubtn-left ubtn-mini " href="http://media.slattoforvaltning.se/2015/06/hållbarhetsprogram_enskilda_sid.pdf" target=" _blank"><button type="button" class="ubtn ubtn-mini ubtn-no-hover-bg  ulta-hang  ubtn-left   tooltip-57b2c30b3ec7e" data-hover="#ffffff" data-border-color="" data-bg="#007070" data-hover-bg="rgba(0,154,178,0.31)" data-border-hover="" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow="" style="font-family:'Raleway';font-weight:500;border:none;background: #007070;color: #ffffff;"><span class="ubtn-hover" style="background-color:rgba(0,154,178,0.31)"></span><span class="ubtn-data ubtn-text">SLÄTTÖ HÅLLBARHETSPROGRAM</span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1440401894241">
                            <div class="wpb_wrapper">
                                <h5 style="text-align: center;">
                                    <a href="http://slattoforvaltning.se/vara-fastigheter/">
                                        <span style="color: #ffffff;">
                                            Se våra projekt<br>
                                        </span>
                                    </a>
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="6u">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1440401873318">
                            <div class="wpb_wrapper">
                                <h5 style="text-align: center;">
                                    <a href="http://slattoforvaltning.se/nyheter/">
                                        <span style="color: #ffffff;">
                                            Nyheter<br>
                                        </span>
                                    </a>
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>