@using MSD.SlattoFS.Repositories
@using MSD.SlattoFS.Models.Pocos
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "BMLayout.cshtml";
    var repo = new AccountRepository();
}

<div class="row-fluid">
    <table id="myTable" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var account in repo.GetAll())
            {
            <tr role="row" class="odd">
                <td class="sorting_1">@account.Name</td>
                <td>@account.Email</td>
                <td><a href="#" data-pdsa-action="edit" class="btn btn-default btn-sm">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
</script>
