@using MSD.SlattoFS.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "BMLayout.cshtml";
}

<div class="tp-parallax-wrap contact-banner" style="position: relative;visibility: visible;left: -366px;top: -2px;z-index: 5;"><div class="tp-loop-wrap" style="position:relative;"><div class="tp-mask-wrap" style="position: relative; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-11-layer-2" data-x="['left','left','left','left']" data-hoffset="['-698','-698','-698','-698']" data-y="['top','top','top','top']" data-voffset="['-2','-2','-2','-2']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:2;e:Power2.easeInOut;" data-transform_out="opacity:0;s:2;" data-start="0" data-responsive_offset="on" style="z-index: 5;visibility: inherit;transition: none;line-height: 0px;border-width: 0px;margin: 0px;padding: 0px;letter-spacing: 0px;font-weight: 400;font-size: 14px;white-space: nowrap;min-height: 0px;min-width: 0px;max-height: none;max-width: none;opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);transform-origin: 50% 50% 0px;"><img src="~/images/kontakt-slider.jpg" alt="" width="2560" height="450" data-ww="['2560px','2560px','2560px','2560px']" data-hh="['455px','455px','455px','455px']" data-no-retina="" style="width: 2560px;height: 455px;transition: none;line-height: 0px;border-width: 0px;margin: 0px;padding: 0px;letter-spacing: 0px;font-weight: 400;font-size: 14px;"> </div></div></div></div>
<div class="tp-parallax-wrap contact-text" style="position: absolute; visibility: visible; left: 877px; top: 369px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption mediumlarge_light_white   tp-resizeme" id="slide-11-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['164','164','164','164']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="s:2;e:Power2.easeInOut;" data-transform_out="s:2;" data-start="0" data-splitin="none" data-splitout="none" data-basealign="slide" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgb(255, 255, 255); padding: 0px; border-color: rgb(255, 214, 88); visibility: inherit; transition: none; line-height: 40px; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><font style="transition: none; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px;"><font style="transition: none; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 34px;">CONTACT </font></font></div></div></div></div>
<div id="main" class="container">
    <div class="row">
    @Html.Breadcrumbs(Model.Content)
        <div class="8u">
            <div class="content content-left">
                <div class="contact-address">
                    <div class="wpb_wrapper">
                        <h4>
                            <b><font><font class="">Slättö AB</font></font></b><br><font>
                                <font class="">
                                    Visiting address
                                </font>
                            </font><br><font>
                                <font class="">
                                    Engelbrecht gatan 7
                                </font>
                            </font><br><font>
                                <font class="">
                                    114 32 Stockholm
                                </font>
                            </font><br><font>
                                <font class="">
                                    info@slattoforvaltning.se
                                </font>
                            </font>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="4u">
            <div class="sidebar">
                <!-- Contact Error Report Form -->
                
                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill contact-error-form">
                    <div class="vc_column-inner vc_custom_1445264397168">
                        <div class="wpb_wrapper">
                            <div role="form" class="wpcf7" id="wpcf7-f294-p14-o1" lang="sv-SE" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/kontakt/#wpcf7-f294-p14-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="294">
                                        <input type="hidden" name="_wpcf7_version" value="4.4.1">
                                        <input type="hidden" name="_wpcf7_locale" value="sv_SE">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f294-p14-o1">
                                        <input type="hidden" name="_wpnonce" value="c61a7ecc5f">
                                    </div>
                                    <p>
                                        <font color="#FFFFFF">
                                            <br>
                                        </font>
                                    </p><h3>
                                        <font color="#FFFFFF">
                                            <div align="center"><font><font>Error report</font></font></div>
                                        </font>
                                    </h3><font color="#FFFFFF">
                                        <p>
                                            <font><font>Location property:</font></font><br>
                                            <span class="wpcf7-form-control-wrap menu-421"><select name="menu-421" class="form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value=""><font><font>---</font></font></option><option value="Karlstad, Galeasen 6"><font><font>Karlstad, Galeasen 6</font></font></option><option value="Knivsta, Vrå 1:150"><font><font>Knivsta Vraa 1: 150</font></font></option><option value="Linköping, Ishalkan 18"><font><font>Linkoping, Ishalkan 18</font></font></option><option value="Norrköping, Stadsvakten 4"><font><font>Norrkoping, the city guard 4</font></font></option><option value="Stockholm, Tibble 1:522"><font><font>Stockholm, Tibble 1: 522</font></font></option><option value="Umeå, Sjörået 1"><font><font>Umeå, sea witch 1</font></font></option><option value="Örebro, Purjolöken 2"><font><font>Orebro, leeks 2</font></font></option><option value="Örebro, Kumminen 1"><font><font>Orebro, Kumminen 1</font></font></option></select></span>
                                        </p>
                                        <p>
                                            <font><font>Apartmentnumber</font></font><br>
                                            <span class="wpcf7-form-control-wrap text-453"><input type="text" name="text-453" value="" size="40" class="form-control wpcf7-text" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>Your name</font></font><br>
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="form-control wpcf7-text" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>Phone</font></font><br>
                                            <span class="wpcf7-form-control-wrap tel-133"><input type="tel" name="tel-133" value="" size="40" class="form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>Your Email (required)</font></font><br>
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>Error description</font></font><br>
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="form-control textarea" aria-invalid="false"></textarea></span>
                                        </p>
                                        <p><font><font><input type="submit" value="Send error report" class="wpcf7-form-control wpcf7-submit contact-error-submit col-md-6"></font></font><img class="ajax-loader" src="http://slattoforvaltning.se/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Submitting ..." style="visibility: hidden;"></p>
                                    </font><p><font color="#FFFFFF"></font></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Error Report Form -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <!--  Rent with us section -->

            <div class="vc_row wpb_row vc_row-fluid contact-rent" style="margin-top: 0px;margin-bottom: 0px">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1465910224604">
                        <div class="wpb_wrapper">
                            <div role="form" class="wpcf7" id="wpcf7-f148-p14-o2" lang="sv-SE" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/kontakt/#wpcf7-f148-p14-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="148">
                                        <input type="hidden" name="_wpcf7_version" value="4.4.1">
                                        <input type="hidden" name="_wpcf7_locale" value="sv_SE">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f148-p14-o2">
                                        <input type="hidden" name="_wpnonce" value="a5e1d2d0dd">
                                    </div>
                                    <p>
                                        <font color="#FFFFFF">
                                            <br>
                                        </font>
                                    </p><h3>
                                        <font color="#FFFFFF">
                                            <div align="center"><img src="~/images/check.png"><br><font><font>Rent with us</font></font></div>
                                        </font>
                                    </h3><font color="#FFFFFF">
                                        <p>
                                            <br>
                                        </p><p>
                                            <b><font><font>I want to know more about real estate in the following locations:</font></font></b><br><br>
                                            <span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Karlstad">&nbsp;<span class="wpcf7-list-item-label"><font><font>Karlstad</font></font></span></span></span></span>
                                        </p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Knivsta">&nbsp;<span class="wpcf7-list-item-label"><font><font>Knivsta</font></font></span></span></span></span></p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Linköping">&nbsp;<span class="wpcf7-list-item-label"><font><font>Linkoping</font></font></span></span></span></span></p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Norrköping">&nbsp;<span class="wpcf7-list-item-label"><font><font>Norrköping</font></font></span></span></span></span></p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Stockholm">&nbsp;<span class="wpcf7-list-item-label"><font><font>Stockholm</font></font></span></span></span></span></p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Umeå">&nbsp;<span class="wpcf7-list-item-label"><font><font>Umeå</font></font></span></span></span></span></p>
                                        <p><span class="wpcf7-form-control-wrap checkbox-21"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="checkbox-21[]" value="Örebro">&nbsp;<span class="wpcf7-list-item-label"><font><font>Orebro</font></font></span></span></span></span></p>
                                        <p><br></p>
                                        <p>
                                            <font><font>Name:</font></font><br>
                                            <span class="wpcf7-form-control-wrap text-887"><input type="text" name="text-887" value="" size="40" class="form-control wpcf7-text" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>Phone:</font></font><br>
                                            <span class="wpcf7-form-control-wrap tel-304"><input type="tel" name="tel-304" value="" size="40" class="form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false"></span>
                                        </p>
                                        <p>
                                            <font><font>E-mail: (required)</font></font><br>
                                            <span class="wpcf7-form-control-wrap email-366"><input type="email" name="email-366" value="" size="40" class="form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                        </p>
                                    </font><p><font color="#FFFFFF"></font><br></p>
                                    <div align="center"><font><font><input type="submit" value="Send inquiry" class="wpcf7-form-control wpcf7-submit contact-rent-submit"></font></font><img class="ajax-loader" src="http://slattoforvaltning.se/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Submitting ..." style="visibility: hidden;"></div>
                                    <p><br></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rent with us section -->
        </div>
    </div>
</div>